:root{
    --background-color: #F0F5EE;
    --primary-color: #B4DCBC;
    --secondary-color: #52A02D;
    --thirthen-color: #B0EBB6;
    --fourth-color: #7AC28A;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    background-color: var(--background-color);
}